flask
SpeechRecognition
pyaudio
gpiozero
adafruit-circuitpython-dht
lgpio
RPi.GPIO

# System dependencies required:
# sudo apt-get install portaudio19-dev swig liblgpio-dev
# pip install lgpio RPi.GPIO